body {
    font-family: Arial, sans-serif;
    /*margin: 0;*/
    padding: 0;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0%;


}

.pt1 {
    background-image: url('/assets/pexels-mikael-blomkvist-4153277.jpg');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    object-fit: cover;
}

.header {
    background-color: rgba(187, 164, 164, 0);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;

}

.logo {
    font-size: 45px;
    font-weight: bold;
    color: #fff;
    margin-top: 0;
    justify-content: center;


}

.buttons-container {
    display: flex;

}

.menu-button {
    background-color: #007bff00;
    color: #fff;
    border: none;
    padding: 20px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 50px;
    background-image: url('/assets/icons8-menu-50.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-button {
    background-color: #28a74600;
    color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;

}

.agenda-button {
    background-color: #167145;
    color: #fff;
    padding: 30px 35px;
    /* Espaçamento interno */
    border: none;
    /* Sem borda */
    border-radius: 5px;
    /* Bordas arredondadas */
    cursor: pointer;
    /* Cursor ao passar o mouse */
    margin-bottom: 10px;
    /* Margem inferior para separação */
    margin-left: 10px;
    font-size: 15px;
    margin-right: 100px;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.block1 {
    flex: 1;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    margin: 10px;
    align-content: flex-start;
    border-radius: 0px;
    margin-left: 100px;
    margin-top: 70px;
}

.block2 {
    flex: 1;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    margin: 10px;
    border-radius: 0px;
    margin-right: 500px;
    text-align: right;
}

.busque {
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #000000be;
    height: 80px;

}

button {
    background-color: #167145;
    color: #fff;
    padding: 15px 20px;
    /* Espaçamento interno */
    border: none;
    /* Sem borda */
    border-radius: 5px;
    /* Bordas arredondadas */
    cursor: pointer;
    /* Cursor ao passar o mouse */
    margin-bottom: 10px;
    /* Margem inferior para separação */
    margin-left: 10px;
}

.button-pesquisar {
    background-color: #167145;
    color: #fff;
    padding: 15px 20px;
    /* Espaçamento interno */
    border: none;
    /* Sem borda */
    border-radius: 5px;
    /* Bordas arredondadas */
    cursor: pointer;
    /* Cursor ao passar o mouse */
    margin-bottom: 10px;
    /* Margem inferior para separação */
    margin-left: 10px;
}

input[type="text"] {
    padding: 15px 20px;
    /* Espaçamento interno */
    border: 1px solid #363131;
    /* Borda com cor cinza */
    background-color: #14181D;
    border-radius: 5px;
    /* Bordas arredondadas */
    margin-bottom: 10px;
    /* Margem inferior para separação */
    width: 600px;
    /* Largura do campo de texto */
    margin-right: 10px;
    color: white;
}

.whats {
    background-image: url("/assets/Dtafalonso-Android-L-WhatsApp.512.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 60px;
    width: 60px;
    margin-left: 510px;
}

.pt2 {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 510px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #14181D;
}

.botaoAgendar {
    margin-bottom: 100px;
    margin-right: 60px;
    display: flex;
    justify-content: space-between;

    justify-content: flex-end;
}

/*.rodape {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    background-color: #14181D;
}*/

.slider {
    margin: 0 auto;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: .6s;
}

.slide img {
    width: 100%;
    height: auto;
}

.manual-navigation {
    position: absolute;
    width: 800px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #fff;
    width: 70px;
    height: 17px;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #14181D;
}

#radio1:checked~.first {
    margin-left: 0%;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

#radio5:checked~.first {
    margin-left: -80%;
}

.pt3 {
    background-color: #02182C;
    min-height: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.feedback-box {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 40px;
    background-color: #115434;
    margin-top: 20px;
    margin: 30px;

}

.feed1 {
    display: flex;
    flex-direction: row;
}

.feed2 {
    display: flex;
    flex-direction: row;
}

.avatar img {
    width: 100px;
    height: auto;
    border-radius: 50%;
    margin-right: 20px;
}

.feedback {
    flex-grow: 1;
}

.client-name {
    margin-top: 10px;
    font-style: italic;
}

.rodape{
    background-color: #14181D;
    color: white;
    height: auto;
    width: 100%;
    font-size: 14px;
    font-family: helvetica;
    
}
.rodape a{
    text-decoration: none;
    color: white;
}
.rodape p{
    margin-bottom: 5px;
}
.rodape-div{
    display: flex;
    flex-wrap: wrap;
    
    margin: auto;
    align-items: stretch;
    padding: 60px 10px 40px 10px;
}
.rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4, .rodape-div-5{
    display: flex;
    width: calc(100% / 5 - 20px);
    padding: 10px;
}
.rodape span{
    font-size: 20px;
    color: white;
}
.rodape-direitos{
 
    background-color: rgba(0, 0, 0, 0.363);
    padding: 10px;
    margin: 0px;
    text-align: center;
}
/*mobile*/
@media (max-width: 768px) {
    .rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
        width: calc(50% - 20px);
        padding: 10px;
    }
    .rodape-div{
        padding: 60px 0px 40px 0px;
    }
}

