body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #14181D;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.pt1 {
    background-image: url('/assets/pexels-cedric-fauntleroy-4266935.jpg');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    object-fit: cover;
    height: 780px;
}

.header .logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
    margin-left: 40px;
}

.header .nav {
    display: flex;
    gap: 15px;
}

.header .nav a {
    background-color: #167145;
    color: white;
    padding: 5px 70px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-right: 50px;
}

.header .nav a:hover {
    background-color: #115434;
}

.login-box {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 5px;
    width: 1000px;
    text-align: left;
    
}

.login-box h2 {
    margin-bottom: 20px;
    color: #167145;
    text-align:left;
    margin-left: 130px;
}

.login-box .input-group {
    margin-bottom: 15px;
    text-align: left;
    
}

.login-box .input-group label {
    display: block;
    margin-bottom: 5px;
    color: #167145;
}

.login-box .input-group input {
    width: 400px;
    padding: 15px 20px;
    border: 1px solid #363131;
    border-radius: 5px;
    background-color: #1E1E1E;
    color: white;
}

.forgot-password {
    display: block;
    margin-bottom: 20px;
    color: #167145;
    text-decoration: none;
    text-align:left;
}

.login-button {
    background-color: #167145;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    width: 400px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}

.login-button:hover {
    background-color: #115434;
}

.register-link {
    margin-top: 20px;
    text-align:left;
}

.register-link a {
    color: #167145;
    text-decoration: none;
}

.about-section {
    padding: 20px;
    background-color: #2c2c2c;
}

.about-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.about-content {
    display: flex;
    justify-content: space-around;
}

.about-column {
    background-color: #1c1c1c;
    width: 30%;
    height: 100px;
    margin: 10px;
    border-radius: 5px;
}
.rodape {
    background-color: #14181D;
    color: white;
    height: auto;
    width: 100%;
    font-size: 14px;
    font-family: helvetica;

}

.rodape a {
    text-decoration: none;
    color: white;
}

.rodape p {
    margin-bottom: 5px;
}

.rodape-div {
    display: flex;
    flex-wrap: wrap;

    margin: auto;
    align-items: stretch;
    padding: 60px 10px 40px 10px;
}

.rodape-div-1,
.rodape-div-2,
.rodape-div-3,
.rodape-div-4,
.rodape-div-5 {
    display: flex;
    width: calc(100% / 5 - 20px);
    padding: 10px;
}

.rodape span {
    font-size: 20px;
    color: white;
}

.rodape-direitos {

    background-color: rgba(0, 0, 0, 0.363);
    padding: 10px;
    margin: 0px;
    text-align: center;
}

/*mobile*/
@media (max-width: 768px) {

    .rodape-div-1,
    .rodape-div-2,
    .rodape-div-3,
    .rodape-div-4 {
        width: calc(50% - 20px);
        padding: 10px;
    }

    .rodape-div {
        padding: 60px 0px 40px 0px;
    }
}